body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #FF8000;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }

    img {

        height: 6rem;
    }

    nav {
        background-image: url(/assets/icons/burger_menu.png);
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 4rem;
        width: 4rem;
        border-radius: 8px;
    }
}

main {
    display: flex;

    @media(max-width: 768px) {
        flex-direction: column;
    }

    .shop-section {
        width: calc(100% - 30rem);

        @media(max-width: 768px) {
            width: 100%;
        }

        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .title-img {
                background-image: url("./assets/img/title.jpg");
                height: 25rem;
                width: 100%;
                background-size: cover;
                background-position: center;
            }

            .title-logo {

                height: 12rem;
                width: 12rem;
                border-radius: 100%;
                z-index: 1;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);

                @media(max-width: 900px) {
                    left: 70%;
                }

                @media(max-width: 380px) {
                    left: 78%;
                }

                bottom: -20%;
                object-fit: cover;
            }

            div {
                padding: 8px 24px;
                height: 12rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;

                h1 {
                    font-size: 3rem;
                }

                span {
                    font-size: 2.2rem;
                }

                .valuation {
                    font-size: 1.8rem;
                    color: #FF8000;

                }
            }
        }

        .shop-nav {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 8px 24px;
            background-color: #F9F5F2;

            a {
                margin-left: 24px;
                color: rgba(0, 0, 0, 0.5);
                font-weight: 700;

                @media(max-width: 400px) {
                    margin-left: 16px;
                }
            }

            a:hover {
                color: black;
            }
        }

        .menu {
            padding: 16px;

            img {
                width: 100%;
                height: 25rem;
                object-fit: cover;
            }

            h2 {
                padding: 8px 24px;

            }

            #content-menu {
                width: 100%;

                .dish {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    border: solid rgba(0, 0, 0, 0.2) 1px;
                    margin-bottom: 16px;




                    .dish-desc {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        height: 10rem;
                        padding: 8px 24px;

                        .dish-price {
                            color: #FF8000;
                            font-weight: 700;
                        }
                    }

                    .add-dish {
                        height: 4rem;
                        width: 4rem;
                        background-color: white;
                        background-image: url(./assets/icons/add.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        border: none;
                        border-left: solid 1px rgba(0, 0, 0, 0.2);
                        border-bottom: solid 1px rgba(0, 0, 0, 0.2);

                    }

                    .add-dish:hover {
                        background-size: cover;
                    }
                }

                .dish:hover {
                    background-color: #ff800030;
                }
            }
        }
    }

    .cart-section {
        min-height: calc(100dvh - 16rem);
        width: 30rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
        padding-top: 16px;

        h2 {
            text-align: center;
            padding-top: 1.6rem;
        }

        .cart-container {

            width: 100%;

            position: sticky;
            top: 0;
            z-index: 2;

            h3 {
                margin-bottom: 8px;
                font-size: 1.8rem;
            }

            #cart-item-container {
                height: 20rem;
                overflow: auto;
                width: 100%;


                .cart-item {
                    width: 100%;
                    padding: 16px;
                    height: 8rem;



                    .cart-item-details {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .cart-item-amount {
                            display: flex;
                            align-items: center;
                            gap: 6px;
                        }

                        button {
                            background-color: transparent;
                            border: none;
                            width: 3.5rem;
                            height: 3.5rem;
                        }

                        button:hover {
                            border: #FF8000 solid 3px;
                            border-radius: 100%;
                        }

                        .amount-remove {
                            background-image: url(/assets/icons/remove.png);
                            background-repeat: no-repeat;
                            background-position: center;
                        }

                        .amount-add {
                            background-image: url(/assets/icons/add.png);
                            background-repeat: no-repeat;
                            background-position: center;
                        }

                        .cart-item-del {
                            background-image: url(/assets/icons/delete.png);
                            background-repeat: no-repeat;
                            background-position: center;

                        }
                    }
                }
            }
        }

        table {
            width: 100%;
            display: flex;
            padding: 16px;

            tbody {
                width: 100%;
            }

            tr {
                margin-bottom: 4px;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .cart-mobile {
        display: none;
        height: 7rem;
        width: 100%;

        @media(max-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            background-color: #FF8000;
            color: white;
            font-family: 'Roboto';
            border: none;
            width: 60%;
            height: 80%;
            font-size: 2rem;
        }

        button:hover {
            background-color: #ff800030;
            color: #FF8000;
        }
    }
}

@media(max-width: 768px) {
    main {
        .cart-section {
            background-color: rgba(0, 0, 0, 0.3);
            height: 100dvh;
            width: 100%;
            position: fixed;
            top: 0;
            z-index: 1;


            .cart-container {
                background-color: white;
                border-radius: 8px;
                width: 40rem;

                @media(max-width: 450px){
                    width: 30rem;
                }

                #cart-item-container{
                    height: 30rem;
                }
            }
        }
    }
}

footer {
    background-color: #FF8000;
    width: 100%;
    height: 8rem;
}