#order-success {
    position: fixed;
    top: 0;
    z-index: 3;
    height: 100dvh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.267);
    justify-content: center;
    align-items: center;
    

    .content {
            background-color: white;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 24px 16px;
            width: clamp(300px, 50dvw, 600px);


        
        h3 {
            margin-top: 24px;
        }

        table {
            width: 30rem;

            tr {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px 0;
            }

            .overview-name {
                width: 10rem;
            }
        }

        button {
            background-color: #FF8000;
            color: white;
            font-size: 24px;
            padding: 8px 16px;
            
        }
    }



}