* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  position: relative;
}

html {
  font-size: 10px;
}

body {  
  font-size: 16px;
  font-family: 'Roboto';
}

.content {
  width: 100%;
  max-width: 1920px;
}

button {
  cursor: pointer;
}

.d-none {
  @media(max-width: 768px) {
    display: none;
  }
}

.d-flex {
  display: flex;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #FF8000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff800030;
}